body{
    background-color: white;
}

/* first section start */
.jhon{
    color: lightskyblue;
    font-size: 50px;
}
.container1 {
    margin-bottom: 100px;
background-image: url(./images/mujeeb.jpeg);
font-size: 20px;
/* width: 94%; */
height: 450px;
padding: 50px;
color: white;
background-size: cover;

}
.para1{
    margin-top: 0px;
    display: grid;
    grid-template-columns: 50%;
}


.fa-download{
    color:rgb(94, 19, 19);
    font-size: 23px;
position: absolute;
top: 63%;
left: 5%;
    
}

.container1 button{
     padding: 15px 50px;
     border-radius: 30px;
     border:  solid blue;
     text-decoration: none;
     
    }
button:hover{
     background-color:blue;
 }

 
 /* first section end */


 /* second section start */

.container2{margin-top: 100px;
    margin-bottom: 100px;
    background-color:rgba(255, 160, 122, 0.158);
    padding: 15px;
    height: 250px;
    /* width: 92%; */
    font-size: 20px;
}

.container2 {
    display:grid;
    grid-template-columns:repeat(3 , 1fr) ;
    gap: 10px;
    /* width: 100%;    */
    
}

.box{
    width: 300px;
}
.my{
    color: lightskyblue;
    
}
.services{
   color: lightskyblue;
    
}
.fa-book{
         font-size: 50px;
         color: lightskyblue;
     }
     .fa-laptop{
        font-size: 50px;
        color: lightskyblue;
    }
    .fa-user{
        font-size: 50px;
        color: lightskyblue;
    }
    /* second section end */

    /* third section start */
    .container3{
        background-image: url(./images/ahsan.jpeg);
        /* width: 100%; */
        height: 600px;
        background-size: cover;   
    }
    .sec3top{
        padding: 40px;
        text-align: center;
        font-size: 20px;
    }
    .Skill{
        color: lightsteelblue;
    }
   progress , label{
       width: 30%;
       margin-left: 600px;
       margin-bottom: 20px;  
   }
   label{
       color: white;
       font-size: 25px;
   }
   progress{
       color: turquoise;
   }
.container3 button{
    margin-left: 550px;
    padding: 15px 30px;
    border-radius: 30px;
    border: solid blue;
}
/* third section end */


/* fourth section start */
.container4{
    margin-bottom: 100px;
height: 200px;
background-size: cover;
display: grid;
grid-template-columns:25% 25% 25% 25%;
padding: 80px;
background-color: black;
}

.container4 .icon1 {
    font-size: 40px;
    color: lightskyblue;
}

.container4 p{
    color:white;
    font-size: 25px;
}
/* fourth section end */


/* fifth section start */

.container5{
    margin-bottom: 100px;
    margin-left: 50px;
    background-color: rgba(240, 128, 128, 0.048);
    position: relative;
    /* border: 0.2px solid black; */
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.container5 input{
    background-color: lightskyblue;
    border: solid lightskyblue;
   
}
.image1 {
    padding: 10px;
}
.image1 p ,span ,input{
    padding: 15px 25px;
    
}
.image1 span{
    color: lightskyblue;
}

.image2 {
    padding: 10px;
}
.image2 p ,span ,input{
    padding: 15px 25px;
    
}
.image2 span{
    color: lightskyblue;
}
.image3 {
    padding: 10px;
}
.image3 p ,span ,input{
    padding: 15px 25px;
    
}
.image3 span{
    color: lightskyblue;
}
.image4 {
    padding: 10px;
}
.image4 p ,span ,input{
    padding: 15px 25px;
    
}
.image4 span{
    color: lightskyblue;
}
.container5 input{
    margin-top:20px;
} 

.input-icon{
    position: absolute;
    top: 370px;
    margin-left: 40px;
    letter-spacing: 10px;
    font-size: 20px;
    color: white;
}
a{
    text-decoration:none;
}
/* fifth section end */
.top a{
   text-decoration: none;
   margin-left: 80px;
   
}


/* sixth section start */
.container6 {
    margin-bottom: 100px;
    display:grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 10px;
    
}

.imag1{
    border: 0.1px solid lightslategrey;
    padding: 30px;
    text-align: center;
    background-color: rgba(119, 136, 153, 0.356);
}
.container6 span{
    color: blue;
}

.button button {
    margin-top: 30px;
    border-radius: 30px;
    padding: 15px 10px;
    border:  solid blue;
    margin-left: 300px;
  
}
.top{
    margin-left: 300px;
}
/* sixth section end */

/* seventh section start */
.container7  img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 5px;

}
.container7{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    /* border: 1px solid black; */
    padding: 40px;
    background-color: rgba(250, 240, 230, 0.192);
} 

.container7 div{
    padding: 20px;
    width: 400px;
    margin-left: 100px;
    /* border: 0.1px solid white; */
    background-color: rgba(144, 238, 144, 0.055);
   
}
/* seventh section end */

/* eight section start */
.container8{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid black; */
    padding: 40px;
    /* background-color: rgba(250, 240, 230, 0.37); */
}
.container8 div{
    border: 0.5px solid linen;
    padding-left:40px;
    background-color: white;
}

.container8 i , span {
    color: blue;
}
/* eight section end */

/* nineth section start */
.container9{
    /* width: 100%; */
    height: 400px;
    background-color: rgba(144, 238, 144, 0.075);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;

}
.container9 div{
    margin-left: 10px;
}

.form1 img{
    height: 350px;
    width:450px;
    
}
   .form1  form {
    padding: 20px;
    background-color: lavender;
    /* height: 400px; */
    width: 450px; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    row-gap: 40px;
}

.container9 .button{
    padding: 10px ;
    border-radius: 30px;
    border: solid blue;
}
/* nineth section end */

/* tenth section start */
.container10{
    height: 250px;
    background-color: rgba(0, 0, 0, 0.836);
    gap: 5px;
    display:grid;
    grid-template-columns:4% 4% 4% 4% 84%;
}

.container10 div{
    margin: 110px 460px;
}

.container10 button{
    padding:15px ;
    border-radius: 50px;
    border: solid blue;
}

.container10 .box{
   background-color: rgba(0, 0, 255, 0.678);
   height: 40px;
   width: 40px; 
   margin-left: 41rem;
   margin-top: 0px;
   text-align: center;
   margin-bottom: 10px;
}
.fa-arrow-up{
    color: white;
}
.container10 .para1{
letter-spacing: 1px;
margin:150px;
color: white;
padding: 10px;
}


/* tenth section end */